/* RentCalculation.css */
/* body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
  }
   */
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  h2 {
    text-align: center;
    color: #333333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #555555;
  }
  
  input, select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6c757d;
  }
  
  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #6c757d;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #000000;
  }
  
  p {
    font-size: 16px;
    color: #333333;
  }
  